html {
  scroll-behavior: smooth;
}

/* Navbar */

.body {
  box-sizing: unset;
}

#title {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  background-color: rgb(63, 63, 63);
  font-family: "Monserrat-Bold";
  font-size: xx-large;
  color: #fff;
  text-align: left;
  padding: 1%;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

.navbar {
  padding: 0 0 0;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 3rem;
  font-weight: bold;
  font-style: italic;
  /* border: 4px solid #ffc133;
  display: inline-block;
  padding: 6px 12px;
  border-radius: 36px; */
}

.nav-item {
  padding: 0px 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

.login {
  padding-left: 10%;
}

.items {
  /* position: sticky; */
  z-index: 1;
}

.nav-link:hover {
  border: 1px solid #fff;
  border-radius: 10px;
}

/* Carousel section */

.colored-section {
  background-color: rgb(63, 63, 63);
  width: 100%;
  position: relative;
}

.container-fluid {
  padding: 10px 10px;
}

.carousel-image {
  width: 100%;
}

/* Dropdown menu */
.dropdown-menu {
  background-color: lightgrey;
}

/* Product-Section */

/* #products {
  box-sizing: content-box;
} */

.header {
  text-align: center;
  background-color: #fff;
  width: 100%;
  padding: 20px;
  top: 106px;
}

/* .sub-heading {
  color: #000;
} */

.sub-heading1 {
  color: #000;
}

hr {
  border: ridge;
  height: 5px;
  background: #777777;
  margin-bottom: 30px;
}

/* Cards  */

.container {
  padding-bottom: 100px;
  width: 100%;
  margin-top: 50px;
  font-family: sans-serif;
  letter-spacing: 1px;
}

.row {
  margin-top: 30px;
}

.product-bottom .fa-star-half-alt {
  color: #28a745;
  font-size: 10px;
}

.product-bottom .fa-star {
  color: #28a745;
  font-size: 10px;
}

.product-bottom h3 {
  font-size: 20px;
  font-weight: bold;
}

.product-bottom h5 {
  font-size: 15px;
  padding-bottom: 10px;
}

.fa {
  height: 25px;
  width: 25px;
  color: rgb(85, 81, 81);
  background: #fff;
  padding: 4px;
  border-radius: 50%;
}

ul.buttons {
  padding: 15px 0;
  position: absolute;
  top: 10%;
  right: 10%;
  opacity: 0;
}

ul li.buttons {
  padding: 5px;
  display: block;
}

.product-top:hover ul {
  opacity: 1;
  transition: 1 s;
}

.product-top img {
  border: groove;
}

.product-top:hover {
  box-shadow: 0 0.5rem 1.5rem rgb(0, 0, 0);
}

/* Footer */
#footer {
  background-color: #777777;
  color: #fff;
  text-align: center;
  width: 100%;
  height: 100px;
}

.social-icon {
  margin: 20px 10px;
}

/* Pulses */
