/* Navbar */

#title {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  background-color: rgb(63, 63, 63);
  font-family: "Monserrat-Bold";
  font-size: xx-large;
  color: #fff;
  text-align: left;
  padding: 1%;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

.navbar {
  padding: 0 0 0;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 3rem;
  font-weight: bold;
}

.nav-item {
  padding: 0px 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

.login {
  padding-left: 10%;
}

/* Carousel section */

.colored-section {
  background-color: rgb(63, 63, 63);
  width: 100%;
  position: relative;
}

.container-fluid {
  padding: 0% 0%;
}

.carousel-image {
  width: 100%;
}

.nav-link:hover {
  border: 1px solid #ffe600;
  border-radius: 10px;
}

/* Dropdown menu */
.dropdown-menu {
  background-color: lightgrey;
}
