/* Navbar */

#title {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  background-color: rgb(63, 63, 63);
  font-family: "Monserrat-Bold";
  font-size: xx-large;
  color: #fff;
  text-align: left;
  padding: 1%;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

.navbar {
  padding: 0 0 0;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 3rem;
  font-weight: bold;
  font-style: italic;
  /* border: 4px solid #ffc133;
  display: inline-block;
  padding: 6px 12px;
  border-radius: 36px; */
}

.nav-item {
  padding: 0px 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

.login {
  padding-left: 10%;
}

.items {
  /* position: sticky; */
  z-index: 1;
}

/* Carousel section */

.colored-section {
  background-color: rgb(63, 63, 63);
  width: 100%;
  position: relative;
}

.container-fluid {
  padding: 5px 5px;
}

.carousel-image {
  width: 100%;
}

.nav-link:hover {
  border: 1px solid #fff;
  border-radius: 10px;
}

/* Dropdown menu */
.dropdown-menu {
  background-color: lightgrey;
}

/* Product-Section */
/* .product-title {
  background-color: #fff;
  height: 1000px;
  width: 100%;
} */

.header {
  text-align: center;
  background-color: #777777;
  padding: 20px;
  position: sticky;
  top: 106px;
  z-index: 0;
}

.sub-heading {
  color: white;
  border: 4px solid white;
  display: inline-block;
  padding: 6px 12px;
  border-radius: 20px;
}

.pricing-column {
  padding: 3% 8%;
}

.product-section {
  position: relative;
  z-index: -1;
  text-align: center;
}
